USE [master]
GO
/****** Object:  Database [SQLprojekat]    Script Date: 17.01.2021 5:43:45 PM ******/
CREATE DATABASE [SQLprojekat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLprojekat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SQLprojekat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLprojekat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SQLprojekat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLprojekat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLprojekat]
GO
/****** Object:  Schema [Kosarka]    Script Date: 17.01.2021 5:43:45 PM ******/
CREATE SCHEMA [Kosarka]
GO
/****** Object:  Schema [Organizacija]    Script Date: 17.01.2021 5:43:45 PM ******/
CREATE SCHEMA [Organizacija]
GO
/****** Object:  Schema [Osoblje]    Script Date: 17.01.2021 5:43:45 PM ******/
CREATE SCHEMA [Osoblje]
GO
/****** Object:  Schema [Rasporedi]    Script Date: 17.01.2021 5:43:45 PM ******/
CREATE SCHEMA [Rasporedi]
GO
/****** Object:  Schema [Statistike]    Script Date: 17.01.2021 5:43:45 PM ******/
CREATE SCHEMA [Statistike]
GO
/****** Object:  UserDefinedFunction [dbo].[DaniIzmedjuUtakmica]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Kreiranje skalarne funkcije - funkcija vraca broj dana izmedju poslednje odigrane utakmice i prve utakmice koja tek treba da se odigra
CREATE   FUNCTION [dbo].[DaniIzmedjuUtakmica]()
RETURNS int
AS 
BEGIN
	DECLARE @dani int;
	SELECT @dani = DATEDIFF(DAY, (SELECT MAX(DATUM) FROM Kosarka.Utakmica), (SELECT MIN(DATUM) FROM Rasporedi.RASPORED_UTAKMICA) )
	
	RETURN @dani;
END
GO
/****** Object:  Table [Osoblje].[IGRAC]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Osoblje].[IGRAC](
	[IDIGRAC] [int] IDENTITY(1,1) NOT NULL,
	[IME] [nvarchar](20) NOT NULL,
	[PREZIME] [nvarchar](20) NULL,
	[GODINE] [int] NOT NULL,
	[VISINA] [numeric](6, 2) NOT NULL,
	[TEZINA] [numeric](6, 2) NOT NULL,
	[POENI_UKUPNO] [int] NOT NULL,
	[ASISTENCIJE_UKUPNO] [int] NOT NULL,
	[SKOKOVI_UKUPNO] [int] NOT NULL,
	[IDPOZICIJA_IGRACA] [int] NOT NULL,
	[IDKLUB] [int] NOT NULL,
 CONSTRAINT [PK_IGRAC] PRIMARY KEY CLUSTERED 
(
	[IDIGRAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Organizacija].[KLUB]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacija].[KLUB](
	[IDKLUB] [int] IDENTITY(1,1) NOT NULL,
	[NAZIV] [nvarchar](30) NOT NULL,
	[GODINA_NASTANKA] [int] NOT NULL,
	[POBEDA] [int] NOT NULL,
	[PORAZ] [int] NOT NULL,
	[POSTIGNUTI_POENI] [int] NOT NULL,
	[PRIMLJENI_POENI] [int] NOT NULL,
 CONSTRAINT [PK_KLUB] PRIMARY KEY CLUSTERED 
(
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Statistike].[STATISTIKA_IGRACA]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Statistike].[STATISTIKA_IGRACA](
	[IDUTAKMICA] [int] NOT NULL,
	[IDIGRAC] [int] NOT NULL,
	[BROJ_POENA] [int] NULL,
	[BROJ_SKOKOVA] [int] NULL,
	[BROJ_ASISTENCIJA] [int] NULL,
 CONSTRAINT [PK_STATISTIKA_IGRACA] PRIMARY KEY CLUSTERED 
(
	[IDIGRAC] ASC,
	[IDUTAKMICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Top10IgraciNajboljeOdigraneUtakmice]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Kreiranje pogleda- prikaz 10 igraca sa najboljim koeficijentom uspesnosti (poeni + skokovi + asistencije) na svim utakmicama
CREATE   VIEW [dbo].[Top10IgraciNajboljeOdigraneUtakmice]
AS
 SELECT TOP(10) sa.IDUTAKMICA AS [Id utakmice], i.IME AS [Ime igraca], i.PREZIME AS [Prezime igraca], k.NAZIV AS [Naziv kluba], sa.BROJ_POENA AS [Broj poena], sa.BROJ_ASISTENCIJA AS [Broj asistencija], sa.BROJ_SKOKOVA AS [Broj skokova], SUM(sa.BROJ_POENA + sa.BROJ_ASISTENCIJA + sa.BROJ_SKOKOVA) AS [Koeficijent uspesnosti]
FROM Statistike.STATISTIKA_IGRACA AS sa
INNER JOIN Osoblje.IGRAC AS i ON sa.IDIGRAC= i.IDIGRAC
INNER JOIN Organizacija.KLUB AS k ON i.IDKLUB = k.IDKLUB
GROUP BY sa.IDIGRAC, sa.IDUTAKMICA ,i.IME, i.PREZIME, k.NAZIV, sa.BROJ_POENA, sa.BROJ_ASISTENCIJA, sa.BROJ_SKOKOVA
ORDER BY [Koeficijent uspesnosti] DESC
GO
/****** Object:  UserDefinedFunction [dbo].[NajboljiIgraciOdigranihUtakmica]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Kreiranje TVF - funkcija vraca igrace koji su najbolje odigrali utakmicu, kao parametar se prosledjuje broj redova koje korisnik zeli da vidi

CREATE   FUNCTION [dbo].[NajboljiIgraciOdigranihUtakmica](@brojRedova int)
RETURNS TABLE
AS
RETURN
( 
	SELECT TOP(@brojRedova) sa.IDUTAKMICA AS [Id utakmice], i.IME AS [Ime igraca], i.PREZIME AS [Prezime igraca], k.NAZIV AS [Naziv kluba], sa.BROJ_POENA AS [Broj poena], sa.BROJ_ASISTENCIJA AS [Broj asistencija], sa.BROJ_SKOKOVA AS [Broj skokova], SUM(sa.BROJ_POENA + sa.BROJ_ASISTENCIJA + sa.BROJ_SKOKOVA) AS [Koeficijent uspesnosti]
	FROM Statistike.STATISTIKA_IGRACA AS sa
	INNER JOIN Osoblje.IGRAC AS i ON sa.IDIGRAC= i.IDIGRAC
	INNER JOIN Organizacija.KLUB AS k ON i.IDKLUB = k.IDKLUB
	GROUP BY sa.IDIGRAC, sa.IDUTAKMICA ,i.IME, i.PREZIME, k.NAZIV, sa.BROJ_POENA, sa.BROJ_ASISTENCIJA, sa.BROJ_SKOKOVA
	ORDER BY [Koeficijent uspesnosti] DESC
);
GO
/****** Object:  Table [dbo].[CreateTableInfo]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreateTableInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ImeTabele] [nvarchar](100) NULL,
	[Komanda] [nvarchar](max) NULL,
	[Korisnik] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorsInfo]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorsInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ErrorNumber] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ErrorProcedure] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Kosarka].[POZICIJA_IGRACA]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kosarka].[POZICIJA_IGRACA](
	[IDPOZICIJA_IGRACA] [int] IDENTITY(1,1) NOT NULL,
	[NAZIV] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_POZICIJA_IGRACA] PRIMARY KEY CLUSTERED 
(
	[IDPOZICIJA_IGRACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Kosarka].[TRANSFER]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kosarka].[TRANSFER](
	[IDTRANSFER] [int] IDENTITY(1,1) NOT NULL,
	[IDIGRAC] [int] NOT NULL,
	[IDKLUB] [int] NOT NULL,
	[DATUM_DOLASKA] [date] NOT NULL,
	[DATUM_ODLASKA] [date] NOT NULL,
	[KOLICINA_NOVCA] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_TRANSFER] PRIMARY KEY CLUSTERED 
(
	[IDTRANSFER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Kosarka].[UTAKMICA]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kosarka].[UTAKMICA](
	[IDUTAKMICA] [int] IDENTITY(1,1) NOT NULL,
	[IDSTADION] [int] NOT NULL,
	[DATUM] [date] NOT NULL,
	[VREME] [time](7) NOT NULL,
 CONSTRAINT [PK_UTAKMICA] PRIMARY KEY CLUSTERED 
(
	[IDUTAKMICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Organizacija].[STADION]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Organizacija].[STADION](
	[IDSTADION] [int] IDENTITY(1,1) NOT NULL,
	[NAZIV] [nvarchar](50) NOT NULL,
	[GRAD] [nvarchar](20) NOT NULL,
	[KAPACITET] [int] NOT NULL,
 CONSTRAINT [PK_STADION] PRIMARY KEY CLUSTERED 
(
	[IDSTADION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Osoblje].[MENADZER]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Osoblje].[MENADZER](
	[IDMENADZER] [int] IDENTITY(1,1) NOT NULL,
	[IDKLUB] [int] NOT NULL,
	[IME] [nvarchar](20) NOT NULL,
	[PREZIME] [nvarchar](20) NOT NULL,
	[GODINE] [int] NOT NULL,
 CONSTRAINT [PK_MENADZER] PRIMARY KEY CLUSTERED 
(
	[IDMENADZER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rasporedi].[RASPORED_KLUB]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rasporedi].[RASPORED_KLUB](
	[IDRASPORED_UTAKMICA] [int] NOT NULL,
	[IDKLUB] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Rasporedi].[RASPORED_UTAKMICA]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rasporedi].[RASPORED_UTAKMICA](
	[IDRASPORED_UTAKMICA] [int] IDENTITY(1,1) NOT NULL,
	[IDSTADION] [int] NOT NULL,
	[DATUM] [date] NOT NULL,
	[VREME] [time](7) NOT NULL,
 CONSTRAINT [PK_RASPORED_UTAKMICA] PRIMARY KEY CLUSTERED 
(
	[IDRASPORED_UTAKMICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Statistike].[STATISTIKA_UTAKMICE]    Script Date: 17.01.2021 5:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Statistike].[STATISTIKA_UTAKMICE](
	[IDUTAKMICA] [int] NOT NULL,
	[IDKLUB] [int] NOT NULL,
	[BROJ_POENA] [int] NULL,
	[SUTEVI_ZA_DVA_POENA] [int] NULL,
	[UBACENI_SUTEVI_ZA_DVA_POENA] [int] NULL,
	[SUTEVI_ZA_TRI_POENA] [int] NULL,
	[UBACENI_SUTEVI_ZA_TRI_POENA] [int] NULL,
	[BROJ_SLOBODNIH_BACANJA] [int] NULL,
	[UBACENA_SLOBODNA_BACANJA] [int] NULL,
	[BROJ_FAULOVA] [int] NULL,
 CONSTRAINT [PK_STATISTIKA_UTAKMICE] PRIMARY KEY CLUSTERED 
(
	[IDUTAKMICA] ASC,
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Kosarka].[POZICIJA_IGRACA] ON 

INSERT [Kosarka].[POZICIJA_IGRACA] ([IDPOZICIJA_IGRACA], [NAZIV]) VALUES (1, N'Plejmejker')
INSERT [Kosarka].[POZICIJA_IGRACA] ([IDPOZICIJA_IGRACA], [NAZIV]) VALUES (2, N'Bek suter')
INSERT [Kosarka].[POZICIJA_IGRACA] ([IDPOZICIJA_IGRACA], [NAZIV]) VALUES (3, N'Krilo')
SET IDENTITY_INSERT [Kosarka].[POZICIJA_IGRACA] OFF
GO
SET IDENTITY_INSERT [Kosarka].[TRANSFER] ON 

INSERT [Kosarka].[TRANSFER] ([IDTRANSFER], [IDIGRAC], [IDKLUB], [DATUM_DOLASKA], [DATUM_ODLASKA], [KOLICINA_NOVCA]) VALUES (1, 10, 1, CAST(N'2018-05-07' AS Date), CAST(N'2020-07-05' AS Date), CAST(1200000 AS Decimal(18, 0)))
INSERT [Kosarka].[TRANSFER] ([IDTRANSFER], [IDIGRAC], [IDKLUB], [DATUM_DOLASKA], [DATUM_ODLASKA], [KOLICINA_NOVCA]) VALUES (2, 20, 2, CAST(N'2016-05-09' AS Date), CAST(N'2020-08-13' AS Date), CAST(12000000 AS Decimal(18, 0)))
INSERT [Kosarka].[TRANSFER] ([IDTRANSFER], [IDIGRAC], [IDKLUB], [DATUM_DOLASKA], [DATUM_ODLASKA], [KOLICINA_NOVCA]) VALUES (3, 33, 3, CAST(N'2018-05-12' AS Date), CAST(N'2019-09-07' AS Date), CAST(1500000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [Kosarka].[TRANSFER] OFF
GO
SET IDENTITY_INSERT [Kosarka].[UTAKMICA] ON 

INSERT [Kosarka].[UTAKMICA] ([IDUTAKMICA], [IDSTADION], [DATUM], [VREME]) VALUES (1, 1, CAST(N'2020-05-05' AS Date), CAST(N'22:00:00' AS Time))
INSERT [Kosarka].[UTAKMICA] ([IDUTAKMICA], [IDSTADION], [DATUM], [VREME]) VALUES (2, 3, CAST(N'2020-05-07' AS Date), CAST(N'21:00:00' AS Time))
INSERT [Kosarka].[UTAKMICA] ([IDUTAKMICA], [IDSTADION], [DATUM], [VREME]) VALUES (3, 5, CAST(N'2020-05-08' AS Date), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [Kosarka].[UTAKMICA] OFF
GO
SET IDENTITY_INSERT [Organizacija].[KLUB] ON 

INSERT [Organizacija].[KLUB] ([IDKLUB], [NAZIV], [GODINA_NASTANKA], [POBEDA], [PORAZ], [POSTIGNUTI_POENI], [PRIMLJENI_POENI]) VALUES (1, N'Los Angeles Lakers', 1947, 1, 0, 92, 78)
INSERT [Organizacija].[KLUB] ([IDKLUB], [NAZIV], [GODINA_NASTANKA], [POBEDA], [PORAZ], [POSTIGNUTI_POENI], [PRIMLJENI_POENI]) VALUES (2, N'Atlanta Hawks', 1946, 0, 1, 78, 92)
INSERT [Organizacija].[KLUB] ([IDKLUB], [NAZIV], [GODINA_NASTANKA], [POBEDA], [PORAZ], [POSTIGNUTI_POENI], [PRIMLJENI_POENI]) VALUES (3, N'Boston Celtics', 1946, 1, 0, 101, 99)
SET IDENTITY_INSERT [Organizacija].[KLUB] OFF
GO
SET IDENTITY_INSERT [Organizacija].[STADION] ON 

INSERT [Organizacija].[STADION] ([IDSTADION], [NAZIV], [GRAD], [KAPACITET]) VALUES (1, N'Staples Center', N'Los Angeles', 18997)
INSERT [Organizacija].[STADION] ([IDSTADION], [NAZIV], [GRAD], [KAPACITET]) VALUES (2, N'State Farm Arena', N'Atlanta', 19580)
INSERT [Organizacija].[STADION] ([IDSTADION], [NAZIV], [GRAD], [KAPACITET]) VALUES (3, N'TD Garden', N'Boston', 22000)
SET IDENTITY_INSERT [Organizacija].[STADION] OFF
GO
SET IDENTITY_INSERT [Osoblje].[IGRAC] ON 

INSERT [Osoblje].[IGRAC] ([IDIGRAC], [IME], [PREZIME], [GODINE], [VISINA], [TEZINA], [POENI_UKUPNO], [ASISTENCIJE_UKUPNO], [SKOKOVI_UKUPNO], [IDPOZICIJA_IGRACA], [IDKLUB]) VALUES (1, N'Quinn', N' Cook ', 24, CAST(1.98 AS Numeric(6, 2)), CAST(85.00 AS Numeric(6, 2)), 13, 6, 4, 1, 1)
INSERT [Osoblje].[IGRAC] ([IDIGRAC], [IME], [PREZIME], [GODINE], [VISINA], [TEZINA], [POENI_UKUPNO], [ASISTENCIJE_UKUPNO], [SKOKOVI_UKUPNO], [IDPOZICIJA_IGRACA], [IDKLUB]) VALUES (2, N'Alex', N' Caruso ', 22, CAST(2.03 AS Numeric(6, 2)), CAST(88.00 AS Numeric(6, 2)), 16, 4, 2, 2, 1)
INSERT [Osoblje].[IGRAC] ([IDIGRAC], [IME], [PREZIME], [GODINE], [VISINA], [TEZINA], [POENI_UKUPNO], [ASISTENCIJE_UKUPNO], [SKOKOVI_UKUPNO], [IDPOZICIJA_IGRACA], [IDKLUB]) VALUES (3, N'Devontae', N' Cacok ', 25, CAST(2.06 AS Numeric(6, 2)), CAST(88.00 AS Numeric(6, 2)), 20, 5, 4, 3, 1)
SET IDENTITY_INSERT [Osoblje].[IGRAC] OFF
GO
SET IDENTITY_INSERT [Osoblje].[MENADZER] ON 

INSERT [Osoblje].[MENADZER] ([IDMENADZER], [IDKLUB], [IME], [PREZIME], [GODINE]) VALUES (1, 1, N'Rob ', N' Pelinka', 42)
INSERT [Osoblje].[MENADZER] ([IDMENADZER], [IDKLUB], [IME], [PREZIME], [GODINE]) VALUES (2, 2, N'Danny ', N'Ainge ', 47)
INSERT [Osoblje].[MENADZER] ([IDMENADZER], [IDKLUB], [IME], [PREZIME], [GODINE]) VALUES (3, 3, N'Travis', N'Schlenk', 40)
SET IDENTITY_INSERT [Osoblje].[MENADZER] OFF
GO
INSERT [Rasporedi].[RASPORED_KLUB] ([IDRASPORED_UTAKMICA], [IDKLUB]) VALUES (1, 2)
INSERT [Rasporedi].[RASPORED_KLUB] ([IDRASPORED_UTAKMICA], [IDKLUB]) VALUES (1, 1)
INSERT [Rasporedi].[RASPORED_KLUB] ([IDRASPORED_UTAKMICA], [IDKLUB]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [Rasporedi].[RASPORED_UTAKMICA] ON 

INSERT [Rasporedi].[RASPORED_UTAKMICA] ([IDRASPORED_UTAKMICA], [IDSTADION], [DATUM], [VREME]) VALUES (1, 2, CAST(N'2020-09-07' AS Date), CAST(N'21:00:00' AS Time))
INSERT [Rasporedi].[RASPORED_UTAKMICA] ([IDRASPORED_UTAKMICA], [IDSTADION], [DATUM], [VREME]) VALUES (2, 4, CAST(N'2020-07-08' AS Date), CAST(N'22:00:00' AS Time))
INSERT [Rasporedi].[RASPORED_UTAKMICA] ([IDRASPORED_UTAKMICA], [IDSTADION], [DATUM], [VREME]) VALUES (3, 6, CAST(N'2020-08-06' AS Date), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [Rasporedi].[RASPORED_UTAKMICA] OFF
GO
INSERT [Statistike].[STATISTIKA_IGRACA] ([IDUTAKMICA], [IDIGRAC], [BROJ_POENA], [BROJ_SKOKOVA], [BROJ_ASISTENCIJA]) VALUES (1, 1, 13, 4, 6)
INSERT [Statistike].[STATISTIKA_IGRACA] ([IDUTAKMICA], [IDIGRAC], [BROJ_POENA], [BROJ_SKOKOVA], [BROJ_ASISTENCIJA]) VALUES (1, 2, 16, 2, 4)
INSERT [Statistike].[STATISTIKA_IGRACA] ([IDUTAKMICA], [IDIGRAC], [BROJ_POENA], [BROJ_SKOKOVA], [BROJ_ASISTENCIJA]) VALUES (1, 3, 20, 4, 5)
GO
INSERT [Statistike].[STATISTIKA_UTAKMICE] ([IDUTAKMICA], [IDKLUB], [BROJ_POENA], [SUTEVI_ZA_DVA_POENA], [UBACENI_SUTEVI_ZA_DVA_POENA], [SUTEVI_ZA_TRI_POENA], [UBACENI_SUTEVI_ZA_TRI_POENA], [BROJ_SLOBODNIH_BACANJA], [UBACENA_SLOBODNA_BACANJA], [BROJ_FAULOVA]) VALUES (1, 1, 92, 60, 20, 45, 15, 14, 7, 20)
INSERT [Statistike].[STATISTIKA_UTAKMICE] ([IDUTAKMICA], [IDKLUB], [BROJ_POENA], [SUTEVI_ZA_DVA_POENA], [UBACENI_SUTEVI_ZA_DVA_POENA], [SUTEVI_ZA_TRI_POENA], [UBACENI_SUTEVI_ZA_TRI_POENA], [BROJ_SLOBODNIH_BACANJA], [UBACENA_SLOBODNA_BACANJA], [BROJ_FAULOVA]) VALUES (1, 2, 78, 40, 20, 26, 13, 18, 9, 25)
INSERT [Statistike].[STATISTIKA_UTAKMICE] ([IDUTAKMICA], [IDKLUB], [BROJ_POENA], [SUTEVI_ZA_DVA_POENA], [UBACENI_SUTEVI_ZA_DVA_POENA], [SUTEVI_ZA_TRI_POENA], [UBACENI_SUTEVI_ZA_TRI_POENA], [BROJ_SLOBODNIH_BACANJA], [UBACENA_SLOBODNA_BACANJA], [BROJ_FAULOVA]) VALUES (2, 3, 101, 50, 30, 30, 10, 22, 11, 17)
GO
/****** Object:  Index [IGRAC_TRANSFERI_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [IGRAC_TRANSFERI_FK] ON [Kosarka].[TRANSFER]
(
	[IDIGRAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [KLUB_TRANSFERI_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [KLUB_TRANSFERI_FK] ON [Kosarka].[TRANSFER]
(
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STADION_UTAKMICA_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [STADION_UTAKMICA_FK] ON [Kosarka].[UTAKMICA]
(
	[IDSTADION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IGRAC_KLUB_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [IGRAC_KLUB_FK] ON [Osoblje].[IGRAC]
(
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [POZICIJA_IGRACA_IGRAC_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [POZICIJA_IGRACA_IGRAC_FK] ON [Osoblje].[IGRAC]
(
	[IDPOZICIJA_IGRACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MENADZER_KLUB_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [MENADZER_KLUB_FK] ON [Osoblje].[MENADZER]
(
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RASPORED_KLUB_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [RASPORED_KLUB_FK] ON [Rasporedi].[RASPORED_KLUB]
(
	[IDRASPORED_UTAKMICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RASPORED_KLUB2_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [RASPORED_KLUB2_FK] ON [Rasporedi].[RASPORED_KLUB]
(
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STADION_RASPORED_UTAKMICA_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [STADION_RASPORED_UTAKMICA_FK] ON [Rasporedi].[RASPORED_UTAKMICA]
(
	[IDSTADION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STATISTIKA_IGRACA_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [STATISTIKA_IGRACA_FK] ON [Statistike].[STATISTIKA_IGRACA]
(
	[IDIGRAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STATISTIKA_IGRACA2_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [STATISTIKA_IGRACA2_FK] ON [Statistike].[STATISTIKA_IGRACA]
(
	[IDUTAKMICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STATISTIKA_UTAKMICE_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [STATISTIKA_UTAKMICE_FK] ON [Statistike].[STATISTIKA_UTAKMICE]
(
	[IDUTAKMICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STATISTIKA_UTAKMICE2_FK]    Script Date: 17.01.2021 5:43:46 PM ******/
CREATE NONCLUSTERED INDEX [STATISTIKA_UTAKMICE2_FK] ON [Statistike].[STATISTIKA_UTAKMICE]
(
	[IDKLUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Kosarka].[TRANSFER]  WITH CHECK ADD  CONSTRAINT [FK_TRANSFER_IGRAC] FOREIGN KEY([IDIGRAC])
REFERENCES [Osoblje].[IGRAC] ([IDIGRAC])
GO
ALTER TABLE [Kosarka].[TRANSFER] CHECK CONSTRAINT [FK_TRANSFER_IGRAC]
GO
ALTER TABLE [Kosarka].[TRANSFER]  WITH CHECK ADD  CONSTRAINT [FK_TRANSFER_KLUB] FOREIGN KEY([IDKLUB])
REFERENCES [Organizacija].[KLUB] ([IDKLUB])
GO
ALTER TABLE [Kosarka].[TRANSFER] CHECK CONSTRAINT [FK_TRANSFER_KLUB]
GO
ALTER TABLE [Kosarka].[UTAKMICA]  WITH CHECK ADD  CONSTRAINT [FK_UTAKMICA_STADION] FOREIGN KEY([IDSTADION])
REFERENCES [Organizacija].[STADION] ([IDSTADION])
GO
ALTER TABLE [Kosarka].[UTAKMICA] CHECK CONSTRAINT [FK_UTAKMICA_STADION]
GO
ALTER TABLE [Osoblje].[IGRAC]  WITH CHECK ADD  CONSTRAINT [FK_IGRAC_KLUB] FOREIGN KEY([IDKLUB])
REFERENCES [Organizacija].[KLUB] ([IDKLUB])
GO
ALTER TABLE [Osoblje].[IGRAC] CHECK CONSTRAINT [FK_IGRAC_KLUB]
GO
ALTER TABLE [Osoblje].[IGRAC]  WITH CHECK ADD  CONSTRAINT [FK_IGRAC_POZICIJA_IGRACA] FOREIGN KEY([IDPOZICIJA_IGRACA])
REFERENCES [Kosarka].[POZICIJA_IGRACA] ([IDPOZICIJA_IGRACA])
GO
ALTER TABLE [Osoblje].[IGRAC] CHECK CONSTRAINT [FK_IGRAC_POZICIJA_IGRACA]
GO
ALTER TABLE [Osoblje].[MENADZER]  WITH CHECK ADD  CONSTRAINT [FK_MENADZER_KLUB] FOREIGN KEY([IDKLUB])
REFERENCES [Organizacija].[KLUB] ([IDKLUB])
GO
ALTER TABLE [Osoblje].[MENADZER] CHECK CONSTRAINT [FK_MENADZER_KLUB]
GO
ALTER TABLE [Rasporedi].[RASPORED_KLUB]  WITH CHECK ADD  CONSTRAINT [FK_RASPORED_KLUB_KLUB] FOREIGN KEY([IDKLUB])
REFERENCES [Organizacija].[KLUB] ([IDKLUB])
GO
ALTER TABLE [Rasporedi].[RASPORED_KLUB] CHECK CONSTRAINT [FK_RASPORED_KLUB_KLUB]
GO
ALTER TABLE [Rasporedi].[RASPORED_KLUB]  WITH CHECK ADD  CONSTRAINT [FK_RASPORED_KLUB_RASPORED_UTAKMICA] FOREIGN KEY([IDRASPORED_UTAKMICA])
REFERENCES [Rasporedi].[RASPORED_UTAKMICA] ([IDRASPORED_UTAKMICA])
GO
ALTER TABLE [Rasporedi].[RASPORED_KLUB] CHECK CONSTRAINT [FK_RASPORED_KLUB_RASPORED_UTAKMICA]
GO
ALTER TABLE [Rasporedi].[RASPORED_UTAKMICA]  WITH CHECK ADD  CONSTRAINT [FK_RASPORED_STADION] FOREIGN KEY([IDSTADION])
REFERENCES [Organizacija].[STADION] ([IDSTADION])
GO
ALTER TABLE [Rasporedi].[RASPORED_UTAKMICA] CHECK CONSTRAINT [FK_RASPORED_STADION]
GO
ALTER TABLE [Statistike].[STATISTIKA_IGRACA]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIKA_IGRACA_IGRAC] FOREIGN KEY([IDIGRAC])
REFERENCES [Osoblje].[IGRAC] ([IDIGRAC])
GO
ALTER TABLE [Statistike].[STATISTIKA_IGRACA] CHECK CONSTRAINT [FK_STATISTIKA_IGRACA_IGRAC]
GO
ALTER TABLE [Statistike].[STATISTIKA_IGRACA]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIKA_IGRACA_UTAKMICA] FOREIGN KEY([IDUTAKMICA])
REFERENCES [Kosarka].[UTAKMICA] ([IDUTAKMICA])
GO
ALTER TABLE [Statistike].[STATISTIKA_IGRACA] CHECK CONSTRAINT [FK_STATISTIKA_IGRACA_UTAKMICA]
GO
ALTER TABLE [Statistike].[STATISTIKA_UTAKMICE]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIKA_UTAKMICE_KLUB] FOREIGN KEY([IDKLUB])
REFERENCES [Organizacija].[KLUB] ([IDKLUB])
GO
ALTER TABLE [Statistike].[STATISTIKA_UTAKMICE] CHECK CONSTRAINT [FK_STATISTIKA_UTAKMICE_KLUB]
GO
ALTER TABLE [Statistike].[STATISTIKA_UTAKMICE]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIKA_UTAKMICE_UTAKMICA] FOREIGN KEY([IDUTAKMICA])
REFERENCES [Kosarka].[UTAKMICA] ([IDUTAKMICA])
GO
ALTER TABLE [Statistike].[STATISTIKA_UTAKMICE] CHECK CONSTRAINT [FK_STATISTIKA_UTAKMICE_UTAKMICA]
GO
/****** Object:  StoredProcedure [dbo].[ErrorHandler]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--ERROR procedura - koristi se u CATCH bloku i sluzi za dodavanje greske u tabelu ErrorsInfo
CREATE   PROCEDURE [dbo].[ErrorHandler]
AS
BEGIN
	INSERT INTO ErrorsInfo
	VALUES ( ERROR_NUMBER(), ERROR_SEVERITY(),ERROR_LINE() , ERROR_STATE() ,ERROR_MESSAGE(), ERROR_PROCEDURE() )
END
GO
/****** Object:  StoredProcedure [dbo].[Igraci_SELECT]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SELECT procedura - stranicenje rezultata upita. Upit vraca sve igrace sortirane po broju postignutih poena. Korisnik ima opciju da putem parametara odredi koju stranu zeli da prikaze (svaka strana ima 10 redova) i koji broj redova zeli da vidi na toj strani. Ukoliko su parametri manji od 1, ispisace se poruka da podaci nisu ispravno uneti. 

CREATE   PROCEDURE [dbo].[Igraci_SELECT]
(
	@broj_strane int,
	@broj_redova int
)
AS
BEGIN
	BEGIN TRY
		IF(@broj_strane > 0 AND @broj_redova > 0)
			BEGIN
				SELECT i.IDIGRAC AS [Id igraca],i.ime AS [Ime igraca], i.PREZIME AS [Prezime igraca],  k.NAZIV AS [Naziv kluba], i.GODINE AS [Godine] , i.VISINA AS [Visina (cm)] , i.TEZINA AS [Tezina (kg)]  , POENI_UKUPNO AS [Ukupno postignutih poena] 
				FROM Osoblje.IGRAC AS i
				JOIN Organizacija.KLUB AS k ON i.IDKLUB = k.IDKLUB
				ORDER BY POENI_UKUPNO DESC
				OFFSET @broj_strane*10-10 ROWS FETCH FIRST @broj_redova ROWS ONLY;
			END
		ELSE
			BEGIN
				SELECT N'Podaci nisu ispravno uneti.'
			END
	END TRY
	BEGIN CATCH
		EXEC ErrorHandler
	END CATCH
	
END
GO
/****** Object:  StoredProcedure [dbo].[Klub_DELETE]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--DELETE procedura tabele Klub -- kao parametar se unosi ID kluba koji treba da se obrise. Proverava se da li taj klub postoji u tabeli, ako ne postoji, korisniku se ispisuje odgovarajuca poruka. Ako Klub postoji, procedura ce obrisati taj red u tabeli Klub.

CREATE   PROCEDURE [dbo].[Klub_DELETE]
(
	@id int
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON;
		IF EXISTS (SELECT * FROM Organizacija.KLUB WHERE IDKLUB = @id)
			BEGIN
				DELETE FROM Organizacija.KLUB WHERE IDKLUB = @id
				SELECT N'Uspesno obrisan klub!'
			END;	
		ELSE
			BEGIN
				SELECT N' Ne postojI klub sa unetim ID. ' 
			END;
	END TRY
	BEGIN CATCH
		EXEC ErrorHandler
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Klub_INSERT]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT procedura - poziva se za dodavanje novog kluba, u proceduri se prvo proverava da li u tabeli ima neki klub sa istim nazivom, ako ima, ispisuje se poruka. Ako ne postoji nijedan klub sa istim nazivom, proverava se da li je godina nastanka veca od godine danasnjeg datuma i proverava se da li su ostali uneti parametri manji od nule. 
--Ako su podaci ispravni, dodaje se red u tabelu Klub.

CREATE   PROCEDURE [dbo].[Klub_INSERT]
(
	@naziv nvarchar(30),
	@godina_nastanka int,
	@pobeda int,
	@poraz int,
	@postignuti_poeni int,
	@primljeni_poeni int 
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON;
		IF NOT EXISTS (SELECT * FROM Organizacija.KLUB WHERE NAZIV = @naziv)
			BEGIN
				IF(@godina_nastanka > YEAR(GETDATE()) OR @pobeda < 0 OR @poraz < 0 OR @postignuti_poeni < 0 OR @primljeni_poeni < 0)
					BEGIN
						SELECT N'Podaci nisu ispravno uneti.'
					END;
				ELSE
					BEGIN
						INSERT INTO Organizacija.KLUB
						VALUES (@naziv, @godina_nastanka, @pobeda, @poraz, @postignuti_poeni, @primljeni_poeni );
						SELECT N'Novi klub je uspesno dodat u tabelu!'
					END;
			END;
		ELSE
			BEGIN
				SELECT @naziv + N' klub već postoji u tabeli.'
			END;
	END TRY
	BEGIN CATCH
		EXEC ErrorHandler
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Klub_UPDATE]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--UPDATE procedura tabele Klub - prvo se proverava da li postoji u tabeli klub sa unetim ID, ako postoji, proveravaju se uneti parametri i u slucaju ispravnosti parametara menja se odgovarajuci red u tabeli. Ako podaci nisu ispravni ili nije pronadjen klub sa odgovarajucim ID, ispisace se poruka o neispravnosti podataka.

CREATE   PROCEDURE [dbo].[Klub_UPDATE]
(
	@id int,
	@naziv nvarchar(30),
	@godina_nastanka int,
	@pobeda int,
	@poraz int,
	@postignuti_poeni int,
	@primljeni_poeni int 
)
AS
BEGIN
	BEGIN TRY
		SET NOCOUNT ON;
		IF EXISTS (SELECT * FROM Organizacija.KLUB WHERE IDKLUB = @id)
			BEGIN
				IF(@godina_nastanka > YEAR(GETDATE()) OR @pobeda < 0 OR @poraz < 0 OR @postignuti_poeni < 0 OR @primljeni_poeni < 0)
					BEGIN
						SELECT N'Podaci nisu ispravno uneti.'
					END;
		
				ELSE
					BEGIN
						UPDATE Organizacija.KLUB  
						SET    
								NAZIV = @naziv,
								GODINA_NASTANKA = @godina_nastanka,  
								POBEDA = @pobeda,  
								PORAZ = @poraz,
								POSTIGNUTI_POENI = @postignuti_poeni,
								PRIMLJENI_POENI = @primljeni_poeni 
						WHERE  IDKLUB = @id
			
						SELECT N'Podaci kluba ' + @naziv +  N' su uspesno promenjeni!'
					END;
			END;	
		ELSE
			BEGIN
				SELECT N' Ne postojI klub sa unetim ID. ' 
			END;
	END TRY
	BEGIN CATCH
		EXEC ErrorHandler
	END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[ObradaTransakcije]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--obrada transakcije - Procedura ubacuje po jedan red u tabelu Igrac i u tabelu Klub. U okviru procedure nalazi se try-catch blok , u try bloku se nalazi begin i commit tran. Ako se desi neka greska, u catch bloku se ponistava transakcija pomocu rollback tran 

CREATE   PROCEDURE [dbo].[ObradaTransakcije]
AS
BEGIN
	
	BEGIN TRY
		SET NOCOUNT ON;

		BEGIN TRAN;
	
			INSERT INTO Organizacija.KLUB
			( [NAZIV], [GODINA_NASTANKA], [POBEDA], [PORAZ], [POSTIGNUTI_POENI],[PRIMLJENI_POENI])
			VALUES
			(N'Obrada tran', 1945 , 0, 0, 0, 0)

			INSERT INTO Osoblje.IGRAC
			([IME], [PREZIME], [GODINE], [VISINA], [TEZINA], [POENI_UKUPNO], [ASISTENCIJE_UKUPNO], [SKOKOVI_UKUPNO], [IDKLUB], [IDPOZICIJA_IGRACA])
			VALUES
			( N'Obrada',  N' tran ' , '24',  '1.98 ',  '85 ', '13', '6', '4', '1', '1' )

		COMMIT TRAN;

	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT > 0
		BEGIN
			PRINT 'Pojavila se greska, odradio se ROLLBACK transakcije.';
			ROLLBACK TRAN;
			EXEC ErrorHandler
		END

	END CATCH;

END
GO
/****** Object:  Trigger [Organizacija].[TR_Klub_DELETE]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--INSTEAD OF okidac - Kada korisnik pokusa da obrise red u tabeli Klub, triger nece dozvoliti njegovo brisanje i uradice rollback transakcije sa odgovarajucom porukom

CREATE   TRIGGER [Organizacija].[TR_Klub_DELETE] 
ON [Organizacija].[KLUB]
	INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @obrisaniKlubovi int;
	SELECT @obrisaniKlubovi = COUNT(*) FROM deleted;
	IF @obrisaniKlubovi > 0
	BEGIN
		PRINT 'Nije dozvoljeno brisanje klubova!';
		IF @@TRANCOUNT > 0
		ROLLBACK TRAN;
	END;
END;
GO
ALTER TABLE [Organizacija].[KLUB] ENABLE TRIGGER [TR_Klub_DELETE]
GO
/****** Object:  Trigger [Osoblje].[TR_Igrac_INSERT]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--AFTER okidac - Triger se okida kada prilikom unosa reda u tabelu Igrac. Proveravaju se uneseni podaci, ako podaci nisu validni onda se radi rollback transakcije
CREATE   TRIGGER [Osoblje].[TR_Igrac_INSERT]
	ON [Osoblje].[IGRAC]
	AFTER INSERT 
AS 
BEGIN
	SET NOCOUNT ON;
	IF EXISTS( SELECT * FROM inserted AS i 
	WHERE 
	 i.GODINE > 50 OR I.GODINE < 15 OR
	 i.TEZINA > 150 OR I.TEZINA < 50 OR
	 i.VISINA NOT BETWEEN 1.5 AND 3  OR
	 i.IDPOZICIJA_IGRACA NOT IN (1,2,3,4,5) OR
	 i.POENI_UKUPNO < 0 OR i.ASISTENCIJE_UKUPNO < 0 OR i.SKOKOVI_UKUPNO < 0
	) 
	BEGIN
		PRINT 'Podaci nisu validni.';
 		if @@TRANCOUNT > 0 ROLLBACK TRAN;
	END;
END;
GO
ALTER TABLE [Osoblje].[IGRAC] ENABLE TRIGGER [TR_Igrac_INSERT]
GO
/****** Object:  DdlTrigger [TR_Table_CREATE]    Script Date: 17.01.2021 5:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DDL okidac - 
CREATE   TRIGGER [TR_Table_CREATE]
ON DATABASE
FOR CREATE_TABLE   
AS   
    
	DECLARE @imeTabele nvarchar(100);
	DECLARE @komanda nvarchar(max);
	DECLARE @korisnik nvarchar(100);

	SELECT @imeTabele = EVENTDATA().value ('(/EVENT_INSTANCE/ObjectName)[1]', 'nvarchar(128)');
	SELECT @komanda = EVENTDATA().value('(/EVENT_INSTANCE/TSQLCommand/CommandText)[1]','nvarchar(max)');
	SELECT @korisnik = EVENTDATA().value('(/EVENT_INSTANCE/LoginName)[1]', 'varchar(256)');

	INSERT INTO dbo.CreateTableInfo VALUES (@imeTabele, @komanda, @korisnik)
	
    PRINT 'Tabela je napravljena.'
GO
ENABLE TRIGGER [TR_Table_CREATE] ON DATABASE
GO
USE [master]
GO
